# Database configuration
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=123
POSTGRES_PORT=
POSTGRES_HOST=localhost
SQLALCHEMY_DATABASE_URL=

# Authentication
SECRET_KEY=
SECURITY_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRES=
VERIFY_TOKEN_EXPIRES=

# Email Service
MAIL_USER=rulu498@gmail.com
MAIL_PASSWORD=oiyd vqxk rdjx qnvr
MAIL_FROM=rulu498@gmail.com
MAIL_PORT=587
MAIL_HOST=smtp.gmail.com
MAIL_FROM_NAME="The"