# Database configuration
POSTGRES_USER="yourdbuser"
POSTGRES_DB="yourdbname"
POSTGRES_PASSWORD=123
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
SQLALCHEMY_DATABASE_URL=

# Authentication
SECRET_KEY=
SECURITY_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRES=
VERIFY_TOKEN_EXPIRES=

# Email Service
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_HOST=
MAIL_FROM_NAME=